@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Golos+Text:wght@400;500;600;700;800;900&display=swap');

:root 
{
    --background-colour: #272727;
    --peach: #ecb1a0;
    --brown: #8d512e;
}

html {
    scroll-padding-top: 6rem; /* height of your navbar */
  }

body
{
    font-family: 'Golos Text', sans-serif;
    font-size: min(1.3rem, 5vw);
    background-image: url(../media/images/sky.jpg);
    background-color: var(--background-colour);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 5%;
}

.page-title h1
{
    font-size: min(5rem, 12.5vw);
    text-align: center;
    color: white;
}

.underline
{
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: -3px;
    text-decoration-thickness: 10px;
    text-decoration-color: var(--brown);
}

.container 
{
    text-align: center;
    padding: 1rem 5vw;
    margin: 2rem 12.5%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 30px 50px 0 rgba(0,0,0,.35);
}

.container h1 {
    margin: 1rem auto;
}

#nav
{
    background-color: #8d512eee;
    color:var(--peach);
    position: sticky;
    top: 1rem;
    border-radius: 50px;
    padding: 1rem 2rem;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
    margin: 1rem 1rem;
    display: inline-block;
    z-index: 1;
}

#navtitle
{
    font-family: "DM Serif Display";
    font-size: min(1.5rem);
}

nav p
{
    display: inline;
}

nav a 
{
    color:white;
    font-size: min(1.3rem, 5vw);
    text-decoration: none;
    padding: 0 0.5rem;
    font-weight: 500;
}

nav a:hover 
{
  color: var(--peach);
  
  text-decoration: underline;
}

#hamburger
{
    display: none;
    margin-top: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 600px)
{
    #hamburger
    {
        display: block;
        float: right;
    }
    #nav
    {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        border-radius: 0%;
        top: 0;
    }
    nav :not(:first-child)
    {
        display: none;
    }

    .container 
    {
        padding: 1rem 2vw;
        margin: 2rem 5vw;
    }

}

.title 
{
    color: white;
    text-align: center;
    padding: 0 2rem 1rem;
    line-height: 1;
}

.titleText
{
    text-align: right;
    font-size: min(10rem, 17.5vw);
    color: white;
    margin: 1rem auto;
    margin-bottom: 0;
}

.titleSubtext
{
    margin-top: 0;
    margin-right: min(3rem, 5vw);
    text-align: right;
    font-size: min(2rem,4vw);
    opacity: 75%;
}

.titleLinkList
{
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0.25rem;
    border-radius: 10px;
}

.titleLinkList li a
{
    background-color: #e6bdbd32;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
}

.titleLinkList li a:hover{
    
    background-color: #e7c1c161;
}

.tabTitle 
{
    margin: 0;
    padding: 0;
    color: #56c7c9;
}

.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

article
{
    background-image: url(../media/images/articlebar.png);
    background-repeat: no-repeat;
    background-size: 175em;
    background-position: top right;
    border-style: solid;
    border-width: 10px;
    background-color: #232020;
    color: aqua;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 0.3% 1.5%;
    margin: 5% 2.5%;
}

h1
{
    font-family: 'DM Serif Display', serif;
    color: var(--peach);
    font-size: min(4rem, 12.5vw);
}

h2
{
    font-size: min(2rem, 7vw);
}

.highlighter
{
    text-decoration:none;
    background-color: #f6ff00;
    color:#232020;
    padding: 2px;
}

.highlighter:hover
{
    text-decoration: underline;
}


footer
{
    bottom: 0;
}

.gallery
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem min(5vw);
    margin: 2rem 2rem;
}

.polaroid {
    padding: 1rem;
    padding-inline: auto;
    background-color: whitesmoke;
    background-image: url("../media/images/stripe.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    width: 18rem;
    aspect-ratio: 8 / 10;
    margin: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.polaroid img {
    width: 100%;
    height: 75%;
    object-fit: cover;
}
.polaroid p {
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 0.5rem;
}
.polaroid img onclick {
    zoom: 50%;
}

.active-scroll-spy
{
    color: yellowgreen;
}

.mcworldcontainer
{
    display: flex;
    flex-wrap: wrap-reverse;
    flex: 1;
}