@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Golos+Text:wght@400;500;600;700;800;900&display=swap');

*, *::before, *::after
{
    box-sizing: border-box;
}

:root 
{
    --background-colour: #272727;
    --brown: #8d512e;
    --beige: #ddd3c8;
    --darkgreen: #1b464c;
    --peach: #ecb1a0;
    --paleforestgreen: #6F8583;
    --offwhite: #FFFFF2;
    --text-color: #232020;
}

html {
    scroll-padding-top: 6rem; /* height of your navbar */
    scroll-behavior: smooth;
  }

body
{
    font-family: 'Golos Text', sans-serif;
    font-size: min(1.25rem, 5vw);
    background-image: url(../media/images/sky.jpg);
    background-color: var(--background-colour);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 5%;
    color: var(--text-color);
}

main
{
    margin: 0 12.5%;
}

.page-title h1
{
    font-size: min(5rem, 12.5vw);
    text-align: center;
    color: white;
}

.underline
{
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: -3px;
    text-decoration-thickness: 10px;
    text-decoration-color: var(--brown);
}

.container 
{
    text-align: center;
    margin: 2rem 0;
    padding: 1rem 5rem;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 30px 50px 0 rgba(0,0,0,.35);
}

.container h1 {
    margin: 1rem auto;
}

#nav
{
    background-color: #8d512eee;
    backdrop-filter: blur(2px);
    color:var(--peach);
    position: sticky;
    top: 1rem;
    border-radius: 50px;
    padding: 1rem 2rem;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
    margin: 1rem 1rem;
    display: inline-block;
    z-index: 1;
}

#navtitle
{
    font-family: "DM Serif Display";
    font-size: min(1.5rem);
    padding-block: 0.25rem;
}

nav p
{
    display: inline;
}

nav a, nav button 
{
    background-color: transparent;
    border: none;
    color:white;
    font-size: min(1.3rem, 5vw);
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    font-weight:500;
}

nav a:hover, nav button:hover
{
    border-radius: 1rem;
    background-color: #ffffffdb;
    color: var(--brown);
}

 .active
{
  color: var(--peach);
  
  text-decoration: underline;
}

.nav button{
    
    cursor: pointer;
}

.dropdown 
{
    position: relative;
    display: inline-block;
}

.dropdown-content
{
    display: block;
    position: absolute;
    top: 2.75rem;
    min-width: 100%;
    width: max-content;
    background-color: #ffffff5a;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 0.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a
{
    display: block;
    background-color: transparent;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    color: white;
    font-weight: 600;
}

.dropdown-content a:hover
{
  background-color: #ffffffb3;
  color: var(--brown);
  border-radius: 0.5rem;
}


.dropdown-content a.active
{
    border-radius: 0.5rem;
    color: var(--darkgreen);
    
}

#hamburger
{
    display: none;
    margin-top: -3px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}



.title 
{
    color: white;
    text-align: center;
    padding: 0 0 1rem;
    line-height: 1;
}

.titleText
{
    text-align: right;
    font-size: min(10rem, 17.5vw);
    color: white;
    margin: 1rem auto;
    margin-bottom: 0;
}

.titleSubtext
{
    margin-top: 0;
    margin-right: min(3.5rem, 5vw);
    text-align: right;
    font-size: min(2rem,4vw);
    opacity: 75%;
}

.titleLinkList
{
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0.25rem;
    border-radius: 10px;
}

.titleLinkList li a
{
    background-color: #e6bdbd32;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.titleLinkList li a:hover{
    
    background-color: #e7c1c161;
}

.tabTitle 
{
    margin: 0;
    padding: 0;
    color: #56c7c9;
}

.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column-layout
{
    display: grid;
    gap: 2rem;
    padding-inline: 2rem;
}

@media screen and (min-width: 600px)
{
    .column-layout
    {
        grid-auto-flow: column;
    }
}

.rounded
{
    border-radius: 0.3rem;
}

h1
{
    font-family: 'DM Serif Display', serif;
    color: var(--peach);
    font-size: min(4rem, 12.5vw);
}

h2
{
    font-size: min(2rem, 7vw);
}

table
{
    display: inline;
}

td, th {
    border: 1px solid #00000011;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #00000011;
}

.container-green
{
    background: var(--paleforestgreen);
}

.container-green h1, .container-green h2
{
    color: var(--offwhite);
}

.container-green > p
{
    color: white;
}

.outer-container 
{
    padding: 1rem;
}

.inner-container 
{
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 15px 25px 0 rgba(0,0,0,.35);
}

.container a:not(table a, table i)
{
    text-decoration:none;
    background-color: var(--peach);
    display: inline-block;
    color:#181818;
    padding: 2px;
}

.container a:hover:not(table a, table i)
{
    text-decoration: underline;
}


footer
{
    bottom: 0;
}

.gallery
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 2rem;
}

.polaroid {
    padding-inline: auto;
    background-color: whitesmoke;
    background-image: url("../media/images/stripe.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    width: 18rem;
    aspect-ratio: 8 / 10;
    margin: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.polaroid img {
    width: 100%;
    height: 75%;
    object-fit: cover;
}
.polaroid p {
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 0.5rem;
}
.polaroid img onclick {
    zoom: 50%;
}

.scrollspyNav
{
    position: fixed;
    left: 2.5vw;
    z-index: 1;
}

.scrollspyNav a
{
    text-decoration: none;
    color: white;
}

.scrollspyNav a:hover
{
    text-decoration: underline;
}

.active-scroll-spy
{
    color: yellowgreen;
}

.mcworldcontainer
{
    display: flex;
    flex-wrap: wrap-reverse;
    flex: 1;
}

.left p
{
    text-align: left;
}

@media screen and (max-width: 600px)
{
    body 
    {
        font-size: min(1rem, 5vw);
    }

    main
    {
        margin: 2rem 5vw;
    }

    #hamburger
    {
        display: block;
        float: right;
    }
    #nav
    {
        width: 100%;
        box-sizing: border-box;
        display: block;
        margin: 0;
        border-radius: 0%;
        top: 0;
    }
    nav :not(:first-child)
    {
        display: none;
    }

    .container 
    {
        padding: 1rem 5vw;
    }

    .container h1
    {
        font-size: min(2rem, 10vw);
    }

    .outer-container 
    {
        padding: 1rem 2vw;
    }

    .inner-container 
    {
        padding: 1rem;
    }

}