.scrollspyNav
{
    position: fixed;
    left: 2.5vw;
    z-index: 1;
}

.scrollspyNav a
{
    text-decoration: none;
    color: white;
}

.scrollspyNav a:hover
{
    text-decoration: underline;
}

.active-scroll-spy
{
    color: yellowgreen;
}


.mcworldcontainer
{
    display: grid;
    gap: 1rem;
    padding-inline: 1rem;
    grid-template-columns: 1fr 1fr;
}

.mcworldcontainer ul
{
    list-style: none;
}

.playertag
{
    background-color: #1B0C1B;
    color: white;
    font-size: 1rem;
    text-shadow: 2px 2px #3E3E3E;
    border: 0.3rem solid #2C0863;
    border-radius: 3px;
    margin: 1px;
}

.subheader
{
    margin-block: 0;
    opacity: 75%;
}

@media screen and (max-width: 600px)
{
    .scrollspyNav
    {
        display: none;
    }
}