#nav
{
    background-color: #8d512eee;
    backdrop-filter: blur(2px);
    color:var(--peach);
    position: sticky;
    top: 1rem;
    border-radius: 50px;
    padding: 1rem 2rem;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
    margin: 1rem 1rem;
    display: inline-block;
    z-index: 1;
}

#navtitle
{
    font-family: "DM Serif Display";
    font-size: min(1.5rem);
    padding-block: 0.25rem;
}

nav p
{
    display: inline;
}

nav a, nav button 
{
    background-color: transparent;
    border: none;
    color:white;
    font-size: min(1.3rem, 5vw);
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    font-weight:500;
}

nav a:hover, nav button:hover
{
    border-radius: 1rem;
    background-color: #ffffffdb;
    color: var(--brown);
}

.nav button{
    
    cursor: pointer;
}

#navlinks
{
    padding: 0;
    margin: 0;
    display: inline;
}

.dropdown 
{
    position: relative;
    display: inline-block;
}

.dropdown-content
{
    display: block;
    position: absolute;
    top: 2.75rem;
    min-width: 100%;
    width: max-content;
    background-color: #ffffff5a;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 0.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a
{
    display: block;
    background-color: transparent;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    color: white;
    font-weight: 600;
}

.dropdown-content a:hover
{
  background-color: #ffffffb3;
  color: var(--brown);
  border-radius: 0.5rem;
}


.dropdown-content a.active
{
    border-radius: 0.5rem;
    color: var(--peach);
    
}

#hamburger
{
    display: none;
    margin-top: -3px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 600px)
{
    #hamburger
    {
        display: block;
        float: right;
    }
    #nav
    {
        width: 100%;
        background-color: var(--brown);
        backdrop-filter: none;
        box-sizing: border-box;
        display: block;
        margin: 0;
        border-radius: 0%;
        top: 0;
    }

    #navlinks
    {
        display: none;
        position:fixed;
        top: 4rem;
        background-color: #714023ee;
        backdrop-filter: blur(2px);
        width: 100%;
        left: 0;
        padding-block: 0.5rem;
    }

    #navlinks button, #navlinks a
    {
        display: block;
        width: 90%;
        text-align: left;
        padding: 0.5rem 1rem;
        margin-inline: 1rem;
    }

    .dropdown
    {
        width: 100%;
    }

    .dropdown-content
    {
        position:sticky;
        background-color: #4b2a166a;
        width: 100%;
        margin-top: 0.5rem;
        left: 0;
        padding-block: 0.25rem;
    }

    #splitter
    {
        display: none;
    }

}